<h1>Log in</h1>
<% flash.each do |key, value| %>
  <span style="background: #cc0000"><%= value %></span>
<% end %>

  <div>
    <%= form_for(:login, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

</div>