<% flash.each do |key, message| %>
  <div class="alert alert-<%= key %>">
  <%= message %>
</div>
<% end %>

<p>
  <strong>Firstname:</strong>
  <%= @register.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @register.lastname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @register.middlename %>
</p>

<p>
  <strong>Age:</strong>
  <%= @register.age %>
</p>

<p>
  <strong>Username:</strong>
  <%= @register.username %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
